@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: #333; /* rgba(255, 255, 255, 0.4), #333 */
  background: #101010; /* #0a0a0a , #101010 */
}

h1,
h2,
h3 {
  color: #fdfdfd;
  font-weight: 600;
  /* color: #fdfdfd0f; */
  /* color: #fdfdfd08; */
}
